# Домашнее задание 2
## Анализ данных в Python (Социология)
### Темы: предобработка данных для модели, линейная регрессия, регуляризация, оптимизация гиперпараметров, классификация и логистическая регрессия, SGD

**Примечание**

В каждой части оцениваются как код, **так и ответы на вопросы.** Если вопрос задается конкретно, то предполагается, что вы дадите комментарии. Не забывайте комментировать код, чтобы было понятно, что вы делаете.

Если нет одного и/или другого, то часть баллов за соответствующее задание снимается.

⚠️ Данное домашнее задание является облегченной версией домашнего задания, которое дается на курсе [Машинное обучение](https://github.com/Murcha1990/ML_AI24) на программе "Искусственный интеллект". Права на изменение и применение получены. Исходник домашнего задания (base и pro) сочетает самые разные прикладные стороны обучения моделей и рекомендуется каждому к изучению.

Всего можно набрать 24,5 балла. В пересчете на 10 балльную систему - это 10 баллов.

**Дедлайн:** до 09:00 (утра) 08.12.2025

**Формат сдачи:** файл ipynb, название файла должно быть в виде: Фамилия_БСЦ_Группа_HW2.ipynb. За неправильно названный файл полагается штраф. Сдача ДЗ ассистенту в личку Telegram: @snovasash

In [1]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
import random
# import seaborn as sns

random.seed(42)
np.random.seed(42)

**Задание 0 (0 баллов).**
Для чего фиксируем сиды в домашках?

Чтоб рандомные штуки выпадали не рандомно. Фиксированный сид позволяет выдать точно такой же ответ каждый раз, чтоб легче проходила проверка

# **Часть 1 | EDA и визуализация**

Первая часть состоит из классических шагов EDA:

- Базовый EDA и обработка признаков
- Визуализации признаков и их анализ

## **Простейший EDA и обработка признаков (4.5 балла)**

In [85]:
df_train = pd.read_csv('https://raw.githubusercontent.com/Murcha1990/MLDS_ML_2022/main/Hometasks/HT1/cars_train.csv')
df_test = pd.read_csv('https://raw.githubusercontent.com/Murcha1990/MLDS_ML_2022/main/Hometasks/HT1/cars_test.csv')

print("Train data shape:", df_train.shape)
print("Test data shape: ", df_test.shape)

Train data shape: (6999, 13)
Test data shape:  (1000, 13)

### **Задание 1 (1.65 балла)**

Выполните операции, направленные на практику основных действий с `pandas`:
- [ ] Отобразите 10 случайных строк тренировочного датасета (0.15 балла)
- [ ] Отобразите первые 5 и последние 5 объектов тестового датасета (0.1 балла)
- [ ] Посмотрите, есть ли в датасете пропуски. Запишите/выведите названия колонок, для которых есть пропущенные значения (0.1 балла)
- [ ] Посмотрите, есть ли в данных явные дубликаты (0.05 балла)

In [86]:
# your code here
print(df_train.sample(10, random_state=42)) #тут тоже зафиксировала сид, чтоб одинаковое вывело
print(df_test.head(),df_test.tail())
print(df_train.isna().sum(), df_test.isna().sum())
#для тренировочной и тестовой в одинаковых колонках есть пропуски: mileage, engine, max_power, torque, seats
print(df_train.duplicated().sum()) #985 строчек-дубликатов
print(df_test.duplicated().sum()) #62 дубликата

                                        name  year  selling_price  km_driven  \
6565        Renault KWID Climber 1.0 MT BSIV  2019         300000      35000
2943                      Maruti Wagon R LXI  2013         225000      58343
2024                    Hyundai i20 Asta 1.2  2013         360000      30000
263                     Hyundai i20 1.2 Asta  2010         300000      70000
4586        Skoda Octavia L and K 1.9 TDI MT  2005         250000     120000
4479                         Maruti Ciaz ZXi  2016         700000      20000
4881  Hyundai Grand i10 1.2 Kappa Magna BSIV  2017         445000      27000
3583          Ford Ecosport 1.5 DV5 MT Trend  2016         515000      68609
6361                  Hyundai Verna 1.4 VTVT  2014         500000      33400
4108                     Hyundai i20 Era 1.2  2015         490000      45900

        fuel       seller_type transmission         owner     mileage  \
6565  Petrol        Individual       Manual   First Owner  23.01 kmpl
2943  Petrol  Trustmark Dealer       Manual   First Owner  21.79 kmpl
2024  Petrol        Individual       Manual   First Owner   18.5 kmpl
263   Petrol        Individual       Manual   First Owner   17.0 kmpl
4586  Diesel        Individual       Manual   Third Owner   16.4 kmpl
4479  Petrol        Individual       Manual   First Owner  20.73 kmpl
4881  Petrol        Individual       Manual   First Owner   18.9 kmpl
3583  Diesel            Dealer       Manual   First Owner   22.7 kmpl
6361  Petrol        Individual       Manual   First Owner  17.43 kmpl
4108  Petrol        Individual       Manual  Second Owner   18.6 kmpl

       engine  max_power                 torque  seats
6565   999 CC     67 bhp          91Nm@ 4250rpm    5.0
2943   998 CC  67.05 bhp          90Nm@ 3500rpm    5.0
2024  1197 CC  82.85 bhp       113.7Nm@ 4000rpm    5.0
263   1197 CC     80 bhp  11.4 kgm at 4,000 rpm    5.0
4586  1896 CC     90 bhp  21.4@ 1,900(kgm@ rpm)    5.0
4479  1373 CC   91.1 bhp         130Nm@ 4000rpm    5.0
4881  1197 CC  81.86 bhp      113.75nm@ 4000rpm    5.0
3583  1498 CC  89.84 bhp    204Nm@ 2000-2750rpm    5.0
6361  1396 CC  105.5 bhp       135.3Nm@ 5000rpm    5.0
4108  1197 CC  81.83 bhp       114.7Nm@ 4000rpm    5.0
                                     name  year  selling_price  km_driven  \
0                  Mahindra Xylo E4 BS IV  2010         229999     168000
1              Tata Nexon 1.5 Revotorq XE  2017         665000      25000
2                    Honda Civic 1.8 S AT  2007         175000     218463
3                    Honda City i DTEC VX  2015         635000     173000
4  Tata Indica Vista Aura 1.2 Safire BSIV  2011         130000      70000

     fuel seller_type transmission         owner    mileage   engine  \
0  Diesel  Individual       Manual   First Owner  14.0 kmpl  2498 CC
1  Diesel  Individual       Manual   First Owner  21.5 kmpl  1497 CC
2  Petrol  Individual    Automatic   First Owner  12.9 kmpl  1799 CC
3  Diesel  Individual       Manual   First Owner  25.1 kmpl  1498 CC
4  Petrol  Individual       Manual  Second Owner  16.5 kmpl  1172 CC

   max_power                   torque  seats
0    112 bhp  260 Nm at 1800-2200 rpm    7.0
1  108.5 bhp      260Nm@ 1500-2750rpm    5.0
2    130 bhp           172Nm@ 4300rpm    5.0
3   98.6 bhp           200Nm@ 1750rpm    5.0
4     65 bhp     96  Nm at 3000  rpm     5.0                                    name  year  selling_price  km_driven    fuel  \
995            Hyundai i10 Magna 1.1L  2008         250000     100000  Petrol
996  Hyundai i20 2015-2017 Sportz 1.2  2017         440000      50000  Petrol
997            Hyundai i20 Era Diesel  2009         340000      40000  Diesel
998                  Hyundai i10 Asta  2012         350000      25000  Petrol
999              Honda City i DTec SV  2016         700000     110000  Diesel

    seller_type transmission         owner     mileage   engine  max_power  \
995  Individual       Manual  Second Owner  19.81 kmpl  1086 CC  68.05 bhp
996  Individual       Manual  Second Owner   18.6 kmpl  1197 CC  81.83 bhp
997  Individual       Manual   First Owner   23.0 kmpl  1396 CC     90 bhp
998  Individual       Manual   First Owner  20.36 kmpl  1197 CC   78.9 bhp
999  Individual       Manual   First Owner   26.0 kmpl  1498 CC   98.6 bhp

                       torque  seats
995          99.04Nm@ 4500rpm    5.0
996          114.7Nm@ 4000rpm    5.0
997  22.4 kgm at 1750-2750rpm    5.0
998          111.8Nm@ 4000rpm    5.0
999            200Nm@ 1750rpm    5.0
name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          202
engine           202
max_power        196
torque           203
seats            202
dtype: int64 name              0
year              0
selling_price     0
km_driven         0
fuel              0
seller_type       0
transmission      0
owner             0
mileage          19
engine           19
max_power        19
torque           19
seats            19
dtype: int64
985
62


### **Задание 2 (0.75 балла)**

Вы могли заметить, что с признаками ``mileage, engine, max_power и torque`` всё не очень хорошо. Они распознаются как строки (можно убедиться в этом, вызвав `data.dtypes`). Однако эти переменные не являются категориальными — они — числа. Соответственно, нужно привести их к числовому виду.

**Задача :**
* [ ] Уберите единицы измерения для признаков ``mileage, engine, max_power``.
* [ ] Приведите тип данных к ``float``.
* [ ] Удалите столбец ``torque``


**Важно**
- Все действия нужно производить над обоими датасетами — `train` и `test`.
- Стобец ``torque`` мы удаляем для простоты. В идеальном случае, его также стоило бы предобработать.

In [87]:
# your code here
df_train['mileage']=df_train['mileage'].str.split(' ').str[0].astype(float)
df_test['mileage']=df_test['mileage'].str.split(' ').str[0].astype(float)

df_train['engine']=df_train['engine'].str.split(' ').str[0].astype(float)
df_test['engine']=df_test['engine'].str.split(' ').str[0].astype(float)

df_train['max_power']=df_train['max_power'].str.split(' ').str[0].replace('', np.nan).astype(float)
df_test['max_power']=df_test['max_power'].str.split(' ').str[0].replace('', np.nan).astype(float)
#тут для всех трех переменных в обоих датасетах одна процедура: строки разделила по пробелу, взяла первый элемент и сделала числом с плавающей точкой
#только для max_power пришлось дополнительно заменить пустые строки на пропуски (видимо там такие оказались, тк ошибку выдавало)

df_train.drop('torque',axis=1,inplace=True)
df_test.drop('torque',axis=1,inplace=True)
#удалила столбец torque, inplace=True чтоб изменения сохранились в исходном датафрейме

В предыдущем задании мы обнаружили пропуски. Давайте избавимся от них.

- [ ] Заполните пропуски в столбцах медианами. Убедитесь, что после заполнения пропусков не осталось. Заполнение пропусков проводите для обоих наборов данных, если необходимо

**Важно!**

При заполнении пропусков и в тестовом, и тренировочном наборах данных вы определяетесь со стратегией предобработки пропущенных значений при потенциальной работе модели.

Так как в теоретическом случае вы не имеете доступа к тестовой выборке, то заполняемой значение (у нас — медиана) вы считаете про *тренировочному* набору данных и им же заполняете *тестовый*.

In [88]:
# your code here
medians = df_train.median(numeric_only=True)
df_train.fillna(medians, inplace=True)
df_test.fillna(medians, inplace=True)
#заполнила пропуски медианами, у меня одинаковые колонки с пропусками, поэтому таким образом я заполнила все пропуски по колонкам медианами из тренировочной базы

print(df_train.isna().sum(),df_test.isna().sum()) #пропусков нет

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
seats            0
dtype: int64 name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
seats            0
dtype: int64

### **Задание 3 (0.3 балла)**

Теперь, когда не осталось пропусков, давайте преобразуем столбцы к более подходящим типам. А именно столбцы ``engnine`` и ``seats`` к приведем к `int`.

- [ ] Осуществите приведение столбцов к необходимому типу.

In [89]:
# your code here
df_train['engine']=df_train['engine'].astype(int)
df_test['engine']=df_test['engine'].astype(int)

df_train['seats']=df_train['seats'].astype(int)
df_test['seats']=df_test['seats'].astype(int)
#сделала целыми числами, тут уже inplace не предусмотрен, поэтому присвоила в те же колонки

df_train.dtypes
df_test.dtypes
#все норм

name              object
year               int64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage          float64
engine             int64
max_power        float64
seats              int64
dtype: object

### **Задание 4 (1.5 балла)**

- [ ] Посмотрите, есть ли в трейне объекты с одинаковым признаковым описанием (целевую переменную следует исключить). Если есть, то сколько? (0.1 балла)
- [ ] Отобразите такие объекты (0.15 балла)
- [ ] Удалите повторяющиеся строки. Если при одинаковом признаковом описании цены на автомобили отличаются, то оставьте первую строку по этому автомобилю (0.15 балла)
- [ ]  Обновите индексы строк таким образом, чтобы они шли от 0 без пропусков (0.1 балла)

In [ ]:
# your code here
#целевая переменная - selling_price
duplicates=df_train.columns.drop('selling_price')
df_duplicates = df_train.duplicated(subset=duplicates, keep=False) #нахожу все дубликаты по всем колонкам, кроме цены
print(df_train[df_duplicates]) #вывожу их
print(df_duplicates.sum()) #1799 дубликатов

df_train = df_train.drop_duplicates(subset=duplicates, keep='first') #удаляю дубликаты, оставляю первые строки-дубликаты из них
df_train = df_train.reset_index(drop=True) #обновляю индексы
print(df_train.shape)

                                          name  year  selling_price  \
22                     Maruti Baleno Delta 1.2  2016         575000
26                 Maruti Omni E MPI STD BS IV  2018         254999
27             Maruti Vitara Brezza LDi Option  2017         670000
28                          Fiat Palio 1.2 ELX  2003          70000
29                   Maruti Omni 8 Seater BSIV  2012         150000
...                                        ...   ...            ...
6981  Ford Freestyle Titanium Plus Diesel BSIV  2018         750000
6984  Ford Freestyle Titanium Plus Diesel BSIV  2018         746000
6989                    Maruti Swift Dzire VDI  2015         625000
6997                           Tata Indigo CR4  2013         290000
6998                           Tata Indigo CR4  2013         290000

      km_driven    fuel seller_type transmission         owner  mileage  \
22        45000  Petrol  Individual       Manual   First Owner    21.40
26        25000  Petrol  Individual       Manual   First Owner    16.80
27        70000  Diesel  Individual       Manual   First Owner    24.30
28        50000  Petrol  Individual       Manual  Second Owner    19.30
29        35000  Petrol  Individual       Manual  Second Owner    14.00
...         ...     ...         ...          ...           ...      ...
6981      24000  Diesel  Individual       Manual   First Owner    24.40
6984      24000  Diesel  Individual       Manual   First Owner    24.40
6989      50000  Diesel  Individual       Manual   First Owner    26.59
6997      25000  Diesel  Individual       Manual   First Owner    23.57
6998      25000  Diesel  Individual       Manual   First Owner    23.57

      engine  max_power  seats
22      1197      83.10      5
26       796      34.20      8
27      1248      88.50      5
28      1248      82.00      5
29       796      35.00      5
...      ...        ...    ...
6981    1498      98.63      5
6984    1498      98.63      5
6989    1248      74.00      5
6997    1396      70.00      5
6998    1396      70.00      5

[1799 rows x 12 columns]
1799
(5840, 12)

In [ ]:
# Проверка того, что все сделали правильно

assert df_train.shape == (5840, 12), 'Упс, неверный размер данных. Возможно, вы что-то сделали не так?'
#хз, ничего не сработало, но я проверила, все норм

### **Задание 5 (0.3 балла)**

Отлично! Мы провели "косметическую" предобработку и теперь готовы сделать важный шаг в контексте анализа данных. А именно — посмотреть на статистики!

**Ваша задача:**
- [ ] Посчитайте основные статистики по числовым столбцам для трейна и теста
- [ ] Посчитайте основные статистики по категориальным столбцам для трейна и теста

**Подсказка:**

Используте ``.describe()`` с нужным(и) аргументом(-ами).

**Примечание:**

Более корректно рассматривать статистики до заполнения пропусков и после, чтобы убедиться, что мы не внесли каких-либо серьезных сдвигов в изначальные рапсределения.

In [ ]:
# your code here
print(df_train.describe(),df_test.describe()) #по умолчанию тут берутся только числовые столбцы

print(df_train.describe(include=['object']),df_test.describe(include=['object'])) #а тут нужно уточнять, что категориальные

              year  selling_price     km_driven      mileage       engine  \
count  5840.000000   5.840000e+03  5.840000e+03  5840.000000  5840.000000
mean   2013.428425   5.229601e+05  7.395224e+04    19.428611  1429.448973
std       4.095622   5.354320e+05  6.007114e+04     3.986026   485.662834
min    1983.000000   2.999900e+04  1.000000e+00     0.000000   624.000000
25%    2011.000000   2.500000e+05  3.900000e+04    16.950000  1197.000000
50%    2014.000000   4.050000e+05  7.000000e+04    19.300000  1248.000000
75%    2017.000000   6.400000e+05  1.000000e+05    22.300000  1498.000000
max    2020.000000   1.000000e+07  2.360457e+06    42.000000  3604.000000

         max_power        seats
count  5840.000000  5840.000000
mean     87.910782     5.426712
std      31.639585     0.982344
min       0.000000     2.000000
25%      68.000000     5.000000
50%      81.860000     5.000000
75%      99.000000     5.000000
max     400.000000    14.000000                 year  selling_price      km_driven      mileage      engine  \
count  1000.000000   1.000000e+03    1000.000000  1000.000000  1000.00000
mean   2013.681000   6.179010e+05   71393.341000    19.337480  1454.87600
std       4.012149   7.585539e+05   48486.218662     3.951751   521.99574
min    1995.000000   3.100000e+04    1303.000000     0.000000   624.00000
25%    2011.000000   2.500000e+05   37000.000000    16.550000  1197.00000
50%    2014.000000   4.349990e+05   61500.000000    19.300000  1248.00000
75%    2017.000000   6.700000e+05  100000.000000    22.300000  1582.00000
max    2020.000000   6.000000e+06  375000.000000    32.260000  3604.00000

         max_power        seats
count  1000.000000  1000.000000
mean     90.844330     5.403000
std      34.892709     0.912921
min      34.200000     4.000000
25%      69.000000     5.000000
50%      82.425000     5.000000
75%     102.000000     5.000000
max     280.000000     9.000000
                          name    fuel seller_type transmission        owner
count                     5840    5840        5840         5840         5840
unique                    1924       4           3            2            5
top     Maruti Swift Dzire VDI  Diesel  Individual       Manual  First Owner
freq                        91    3177        5223         5336         3603                        name    fuel seller_type transmission        owner
count                  1000    1000        1000         1000         1000
unique                  621       4           3            2            5
top     Maruti Alto 800 LXI  Diesel  Individual       Manual  First Owner
freq                     15     534         837          877          623

## **Визуализации (3 балла)**

Визуализация данных — важный шаг в работе. Визуализировать данные необходимо, например, чтобы:

- Оценить распределения признаков самих по себе (это может натоклнуть вас на мысли о модели, которую можно использовать)
- Сравнить распределения на `train` и `test` — чтобы проверить, насколько информация, на которой вы будете обучаться согласуется с той, на которой модель должна работать
- Оценить есть ли явная связь признаков с целевой переменной

**Важно:**

Если распределения на `train` и `test` не совпадают, это не значит, что нужно перемешивать данные! Более корректно актуализировать задачу и уточнить, а не устарели ли данные `train`. Также полезным может быть собрать новую тестовую выборку, смешав те, что имеются сейчас.

**Если вы будете подгонять распределения, то можете встретиться с переобучением!**

### **Задание 6 (1.5 балла)**

Шаг 1.
- [ ] Воспользуйтесь `pairplot` из библиотеки `seabron`, чтобы визуализировать попарные распределения числовых признаков для `train`
- [ ] По полученному графику ответьте на вопросы:
 - Можно ли предположить на основе распределений связь признаков с целевой переменной?
 - Можно ли предположить на основе распределений выдвинуть гипотезу о корреляциях признаков?

Шаг 2.

- [ ] Постройте pairplot по тестовым данным
- [ ] Ответьте на вопрос "Похожими ли оказались совокупности при разделении на трейн и тест?"

In [ ]:
# your code here

In [ ]:
# your code here

`Your answer here`

### **Задание 7 (1.5 балла)**

И так, вы выдвинули гипотезы о наличии связи. Теперь давайте оценим эту связь в числах.

**Задание:**
- [ ] Получите значения коэффициента корреляции Пирсона для тренировочного набора данных при помощи `pd.corr()`
- [ ] По полученным корреляциям постройте тепловую карту (`heatmap` из бибилотеки seaborn)

In [ ]:
# your code here

- [ ] Ответьте на вопросы:
 - Какие 2 признака наименее скоррелированы между собой?
 - Между какими наблюдается довольно сильная положительная линейная зависимость?
 - Правильно ли, опираясь на данные, утверждать, что чем меньше год, тем, скорее всего, больше километров проехала машина к дате продажи?

`Your answer here`

# **Часть 2 | Модель только на вещественных признаках (6.25 балла)**

В этой части вам предстоит обучить модель только на вещественных признаках. Почему только на них?

Чем больше признаковое пространство — чем сложнее модель. А чем модель проще — тем лучше для скорости работы и интерпретации признаков.

### **Задание 8 (0.25 балла)**

Разбейте данные на тренировочный и тестовый наборы. Перед разбиением создайте копию датафрейма, который будет хранить только вещественные признаки и используйте его (то есть категориальные столбцы (все, кроме seats) необходимо удалить).

В переменные y_train и y_test запишите значения целевых переменных.

In [20]:
df_train.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power', 'torque',
       'seats'],
      dtype='object')

In [26]:
y_train = df_train["selling_price"].dropna()
X_train = df_train[['year', 'km_driven', 'seats']].dropna()

In [27]:
X_train.shape

(6797, 3)

In [4]:
%%time

for i in range(1, 100000):
    i

CPU times: user 6.63 ms, sys: 952 μs, total: 7.58 ms
Wall time: 12.9 ms

In [ ]:
assert X_train.shape == (5840, 6), 'Упс, неверный размер данных. Возможно, вы что-то сделали не так?'

In [ ]:
y_test = # your code here
X_test = # your code here

In [ ]:
assert X_test.shape == (1000, 6), 'Упс, неверный размер данных. Возможно, вы что-то сделали не так?'

### **Задание 9 (1 балл)**

Построим нашу первую модель!
- [ ] Обучите классическую линейную регрессию с дефолтными параметрами. Посчтитайте $R^2$ и $MSE$ для трейна и для теста.
- [ ] Сделайте выводы по значениям метрик качества.

**Примечание:**

Здесь и далее $R^2$ и $MSE$ для трейна и для теста выводите везде, где требуется обучать модели, даже если в явном виде этого не просят. Иначе непонятно, как понять, насколько успешны наши эксперименты.

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error as MSE

# your code here

lr = LinearRegression()

lr.fit(X_train, y_train)

### **Задание 10 (0.75 балла)**

Всегда есть место совершенству. Поэтому давайте попробуем улучшить модель. При помощи стандартизации признаков.

- [ ] Стандартизируйте значения в тренировочных и тестовых данных. Стандартизатор **обучайте только на `train`**.

In [ ]:
from sklearn.preprocessing import StandardScaler

# your code here

### **Задание 11 (0.5 балла)**

Хотя стандартизация не помогла сильно прибавить в качестве она открыла возможность интерпретировать важность признаков в модели. Правило интерпретации такое:

Чем больше коэффициент $\beta_i$ по модулю, тем важнее признак.

**Ответьте на вопрос:**

- [ ] Какой признак оказался наиболее информативным в предсказании цены?

In [ ]:
# your code here

### **Задание 12 (1.25 балла)**

Попробуем улучшить нашу модель с помощью применения регуляризации. Для этого воспльзуемся `Lasso` регрессией.  Кроме того, попробуйте использовать её теоретическое свойство отбора признаков, за счет зануления незначимых коэффициентов.

**Задание:**

- [ ] Обучите Lasso регрессию на тренировочном наборе данных с нормализованными признаками. Оцените её качество
- [ ] Проверьте, занулила ли L1-регуляризация с параметрами по умолчанию какие-нибудь веса? Предположите почему.

In [ ]:
from sklearn.linear_model import Lasso

# your code here

In [ ]:
# your code here

### **Задание 13 Финальный рывок (2.5 балла)**

До этого мы с вами использовали `train` для обучения и `test` для прогнозирования. Но у нас есть ещё одна задача — подобрать оптимальные параметры модели. Для этого используем кросс-валидацию, описанную на семинарах.

Кроме того, выжмем максимум из модификаций регрессии. Построим `ElasticNet`. И сделаем всё по порядку.

**Ваша задача 1:**

- [ ] Перебором по сетке (c 10-ю фолдами) подберите оптимальные параметры для Lasso-регрессии. Вам пригодится класс [GridSearchCV](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html).
- [ ] Ответьте на вопросы:
 - Сколько грид-сёрчу пришлось обучать моделей?
 - Какой коэффициент регуляризации у лучшей из перебранных моделей? Занулились ли какие-нибудь из весов при такой регуляризации?

In [ ]:
from sklearn.model_selection import GridSearchCV

# your code here

In [ ]:
# your code here

**Ваша задача 2:**

- [ ] Перебором по сетке (c 10-ю фолдами) подберите оптимальные параметры для [ElasticNet](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNet.html) регрессии.
- [ ] Ответьте на вопрос:
 - Сколько грид-сёрчу пришлось обучать моделей?
 - Какие гиперпараметры соответствуют лучшей (по выбранной метрике качества) из перебранных моделей?

In [ ]:
from sklearn.linear_model import ElasticNet

# your code here

# **Часть 3| Добавляем категориальные фичи (3.75 балла)**

Попробуем для улучшения модели дать ей больше признаков. Добавим категориальные фичи.

### **Задание 14 (0.5 балла)** Проанализируйте столбец `name`. Очевидно, что эта переменная является категориальной, однако категорий в ней много.

В этом домашнем задании мы предлагаем удалить его.

**Ваша задача:**
1. Удалить столбец`name`
2. Снова объединить категориальные с вещественными признаками.

In [ ]:
# your code here

### **Задание 15 (2 балла)**

- [ ] Закодируйте категориалльные фичи и ``seats`` методом OneHot-кодирования. Обратите внимание, что во избежание мультиколлинеарности следует избавиться от одного из полученных столбцов при кодировании каждого признака методом OneHot.

In [ ]:
from sklearn.preprocessing import OneHotEncoder # или можно использовать get_dummies из библиотеки pandas

# your code here

### **Задание 16 (1.25 балла)**
Повторим то, что делали на прошлом шаге для моделей на вещественных признаках, однако теперь с моделью `Ridge`.


**Ваша задача:**
- [ ] Переберите параметр регуляризации `alpha` для гребневой (ridge) регрессии с помощью класса `GridSearchCV` В качестве параметров при объявлении GridSearchCV кроме модели укажите метрику качества $R^2$. Кроссвалидируйтесь по 10-ти фолдам.
- [ ] Ответье на вопрос: Удалось ли улучшить качество прогнозов?

In [ ]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

# your code here

# **Часть 4 (7 баллов) | Классификация**

In [ ]:
import pandas as pd

from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split

In [8]:
X, y = make_classification(
    n_samples=100000, n_features=20, n_informative=10, n_redundant=10,
    random_state=42)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42)

### **Задание 13 (2 балла)**
Обучите логистическую регрессию на синтетических данных.

In [ ]:
# your code here

На тестовой части посчитайте ROC-AUC, PR-AUC. Самостоятельно изучите, что такое PR-AUC.

Постройте ROC и PR кривые. Проинтерпретируйте результат.

In [ ]:
# your code here

### **Задание 14 (2 балла)**

Загрузим данные с конкурса  [Kaggle Porto Seguro’s Safe Driver Prediction](https://www.kaggle.com/c/porto-seguro-safe-driver-prediction) (вам нужна только обучающая выборка train). Задача состоит в определении водителей, которые в ближайший год воспользуются своей автомобильной страховкой (бинарная классификация). Но для нас важна будет не сама задача, а только её данные. При этом для задания мы немного модифицируем датасет. (Датасет в чате ТГ)

In [ ]:
data = pd.read_csv('train.csv', index_col=0)
target = data.target.values
data = data.drop('target', axis=1)
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=124)

Посчитайте качество (выведите все метрики классификации) на train и test при применении логистической регрессии.

In [5]:
import pandas as pd 
data = pd.read_csv('data/train.csv', index_col=0)

In [7]:
data.head()

,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
id,,,,,,,,,,,,,,,,,,,,,
7,0,2,2,5,1,0,0,1,0,0,...,9,1,5,8,0,1,1,0,0,1
9,0,1,1,7,0,0,0,0,1,0,...,3,1,1,9,0,1,1,0,1,0
13,0,5,4,9,1,0,0,0,1,0,...,4,2,7,7,0,1,1,0,1,0
16,0,0,1,2,0,0,1,0,0,0,...,2,2,4,9,0,0,0,0,0,0
17,0,0,2,0,1,0,1,0,0,0,...,3,1,1,3,0,0,0,1,1,0

In [ ]:
# your code here

### **Задание 15 (2 балла)**

Закодируйте все категориальные признаки с помощью one-hot-кодирования, а числовые признаки масштабируйте. Обучите логистическую регрессию и посмотрите, как изменилось качество модели (с тем, что было до предобработки). Измерьте время, потребовавшееся на обучение модели. Исходные колонки с категориальными признаками можно удалить. Сколько признаков мы получили?

In [ ]:
# your code here

### **Задание 16 (1 балла)**

Давайте попробуем использовать SGDClassifier для улучшения качества модели. Улучшились ли метрики и качество в целом на трейне и тесте? Используйте GreedSearchCV

In [ ]:
# your code here